body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007BFF;
}

.about-section {
  width: 100%;
  padding: 80px 10%;
  background-color: #fff;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about-text {
  flex: 1;
  max-width: 600px;
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
}

.about-buttons .btn{
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border: 2px solid #007BFF;
    border-radius: 8px;
    text-decoration: none;
    color: #007bff;
    transition: all 0.3s ease;
}

.about-buttons .btn:hover {
    background-color: #007BFF;
    color: white;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* Skills Section */
.skills-section {
  padding: 0 50px;
  margin: 100px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
}



#projects {
    text-align: center;
    padding: 2rem 0;
}

#contact {
    text-align: center;
    padding: 2rem 0;
}